.modal-backdrop{
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.modal{
    min-width: 480px;
    opacity: 1;
    background: white;
    border-radius: 10px;
    padding:10px;
}

.modal h2{
    border-bottom: 1px solid;
}